body {
  background-image: url("../img/bg-repeat.png");
  background-repeat: repeat;
  background-color: ghostwhite;
  color: white;
}

a {
  color: white!important;
  text-decoration: underline;
}

.container {
  background-color: darkcyan;
  padding-bottom: 20px;
}

#login-required, #theme-selector, #write-permission, #invitation-response, #real-time-setup, #real-time-quit, #real-time-opponent-quit {
  color: black;
}

#navbarDropdown {
  color: white
}

.fa-user {
  color: white;
}

#user-menu {
  color: white;
}

#content {
  margin-top: 50px;
}

#user-name {
  color: white;
  padding-left: 5px;
}

#how-it-works {
  margin-top: 50px;
}

#custom-position-chk-group, #real-time-chk-group {
  margin-bottom: 15px;
}

#game-details {
  margin-top: 20px;
}

.hidden {
  display: none!important;
}

#board {
  width: 95vw;
  max-width: 500px;
}

#continue-game-table {
  table-layout: fixed!important;
  word-wrap: break-word;
}

#continue-game-table tr {
  font-size: 14px;
}

#table-title {
  width: 50%;
}

tr.clickable-row {
  cursor: pointer;
}

.btn-cancel, #start-new-game-btn, #join-game-btn, #stop-playing {
  margin-bottom: 25px;
}

table.table > thead > tr > th{
    border: none;
}
table.table > tbody > tr > td{
    border-top: 1px solid white;
}

code {
  color: antiquewhite;
}
